<!DOCTYPE HTML>
<html>
<head>
<title>FiveyFive - An In-House Matchmaking System</title>
<style>
.wrapper {
  display: grid;
  grid-template-columns: 1fr 100px 1fr;
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}
div {
  font-family: verdana;
  font-size: 30px;
  color: white;
}
div.blue {
  grid-column: 1;
  background-color: #67a9cf;
}
div.PlayerCard {
  height: 100px;
}
span.PlayerInfo {
  line-height: 100px;
}
div.PositionCol {
  grid-column: 2;
  background-color: gray;
  text-align: center;
  line-height: 100px;
}
div.red {
  grid-column: 3;
  background-color: #ef8a62;
  text-align: left;
}
.top {
  grid-row: 1;
}
.jun {
  grid-row: 2;
}
.mid {
  grid-row: 3;
}
.bot {
  grid-row: 4;
}
.sup {
  grid-row: 5;
}
.team {
  grid-row: 6;
}
</style>
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<script src="https://cdn.jsdelivr.net/npm/@shopify/draggable@1.0.0-beta.12/lib/draggable.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@shopify/draggable@1.0.0-beta.12/lib/swappable.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!--<script src="/static/require.js"/>-->
<!--<script src="/static/node_modules/draggable-es/src/Swappable/Swappable.js"></script>-->
</head>

<body>

<div class="wrapper">
  <div class="blue top">
    <div class="PlayerCard">
    </div>
  </div>
  <div class="blue jun">
    <div class="PlayerCard">
    </div>
  </div>
  <div class="blue mid">
    <div class="PlayerCard">
    </div>
  </div>
  <div class="blue bot">
    <div class="PlayerCard">
    </div>
  </div>
  <div class="blue sup">
    <div class="PlayerCard">
    </div>
  </div>
  <div class="blue team">
    <span id="blue avg"></span>
  </div>
  <!-- Generalize this to allow different positions in diff games -->
  <div class="PositionCol">TOP</div>
  <div class="PositionCol">JUN</div>
  <div class="PositionCol">MID</div>
  <div class="PositionCol">BOT</div>
  <div class="PositionCol">SUP</div>
  <div class="PositionCol">AVG</div>
  <div class="red top">
    <div class="PlayerCard">
    </div>
  </div>
  <div class="red jun">
    <div class="PlayerCard">
    </div>
  </div>
  <div class="red mid">
    <div class="PlayerCard">
    </div>
  </div>
  <div class="red bot">
    <div class="PlayerCard">
    </div>
  </div>
  <div class="red sup">
    <div class="PlayerCard">
    </div>
  </div>
  <div class="red team">
    <span id="red avg"></span>
  </div>
</div>
<div>
  <input type="button" value="Run Matchup Algorithm From Here" onclick="runDynamic(false)">
  <input type="button" value="Run Matchup Algorithm From Random Initial State" onclick="runDynamic(true)">
</div>
<script>
/**
* @typedef {Object} Player
* @property {string} uniqueId - Database ID of this player
* @property {string} name - Name of this player
* @property {Number} top - Skill rating of this player at Top position
*/
class Player{
  constructor(uniqueId, dict){
    this.uniqueId = uniqueId;
    this.name = dict["name"];
    // Need to generalize this to other games and positions
    this.top = dict["rating_top"];
    this.jun = dict["rating_jun"];
    this.mid = dict["rating_mid"];
    this.bot = dict["rating_bot"];
    this.sup = dict["rating_sup"];
  }

}
</script>
<script>
var playerData = {{ docs | safe }};
var positions = {{ positions | safe }};
var playerCards = document.getElementsByClassName("PlayerCard");
var blueRatings = {};
var redRatings = {};

/**
 * Pass the current matchup of Players back to Flask in order
 * to run the dynamic matchup algorithm.
 * @param {}
 * @paran {}
 */
 // TODO make this spacing consistent lol
function runDynamic(fromRandom) {
    // get the current list of players in the matchup in order by team
    currPlayers = document.getElementsByClassName("PlayerInfo");
    // grab each players' data in order to pass back to Flask
    matchup = {};
    for (let player of currPlayers) {
      id = player.getAttribute("data-uniqueid");
      matchup[id] = playerData[id];
    }

    $.post({
      url: "/_dynamic_algo",
      data: {
        'matchup': JSON.stringify(matchup),
        'positions': positions,
        'fromRandom': fromRandom
      },
      success: function(matchup) {
        // Nuke existing teams
        document.querySelectorAll('.PlayerInfo').forEach(e => e.remove());
        // Use regex to convert json.dumps(matchup) into an array
        matchup = matchup.replace(/[\[\]'"]+/g, '').split(',');
        // Add players in the order they appear in matchup
        var i = 0;
        for (let uuid of matchup) {
          uuid = uuid.trim()
          addToEmptyPlayerCard(new Player(uuid, playerData[uuid]), i);
          i += 1;
        }
        updateAverages();
      }
    });
}

/**
* Create a PlayerInfo element from a Player Object and add it
* as a child to the index-th PlayerCard element, which should be empty
* @param {Object} playerObj The player object to create PlayerInfo from
* @paran {Number} playerCardsInd The index of the PlayerCard to add to in the array of PlayerCards
*/
function addToEmptyPlayerCard(playerObj, playerCardsInd){
  var newPlayerInfo = document.createElement("span");
  newPlayerInfo.classList.add("PlayerInfo");
  newPlayerInfo.innerHTML = playerObj.name + "\t";
  newPlayerInfo.setAttribute("data-uniqueId", playerObj.uniqueId);
  var pos = playerCards[playerCardsInd].parentElement.classList;
  var playerRating;
  playerCards[playerCardsInd].appendChild(newPlayerInfo);
  // Need to generalize this to other games and positions
  switch(pos[1]){
    case 'top':
      newPlayerInfo.innerHTML += playerObj.top;
      playerRating = playerObj.top;
      break;
    case 'jun':
      newPlayerInfo.innerHTML += playerObj.jun;
      playerRating = playerObj.jun;
      break;
    case 'mid':
      newPlayerInfo.innerHTML += playerObj.mid;
      playerRating = playerObj.mid;
      break;
    case 'bot':
      newPlayerInfo.innerHTML += playerObj.bot;
      playerRating = playerObj.bot;
      break;
    case 'sup':
      newPlayerInfo.innerHTML += playerObj.sup;
      playerRating = playerObj.sup;
      break;
  }

  if (pos[0] == "blue") {
    blueRatings[pos[1]] = playerRating;
  }
  else {
    redRatings[pos[1]] = playerRating;
  }
}
// Initializes grid. Adds players until full
var i = 0;
var playerDataArr = Object.entries(playerData);
while (i < playerCards.length) {
  var keyVal= playerDataArr[i];
  addToEmptyPlayerCard(new Player(keyVal[0],keyVal[1]), i);
  i += 1;
}
updateAverages();

/**
* Updates the rating of PlayerCards based on their new positions
* If the PlayerCard is a mirror generated by SwappableJS
* its parent has not changed and its new rating must be calculated differently
* @param {Element} swappedPlayerCard The PlayerCard that has changed positions
* @param {Boolean} isMirror True if the PlayerCard is a mirror
*/
function updatePlayerCardRating(swappedPlayerCard, isMirror=false){
  if (isMirror) {
    var newDbPos = "rating_" + document.getElementsByClassName("draggable-container--over")[0].classList[1];
  }
  else {
    var newColorAndPos = swappedPlayerCard.parentElement.classList;
    //console.log(swappedPlayerCard.firstElementChild.innerHTML);
    var newDbPos = "rating_" + newColorAndPos[1];
  }
  var playerInfo = swappedPlayerCard.firstElementChild;
  var name = playerData[playerInfo.dataset.uniqueid]["name"];
  var newRating = playerData[playerInfo.dataset.uniqueid][newDbPos];
  playerInfo.innerHTML = name + "\t" + newRating;

  if (newColorAndPos) {
    if (newColorAndPos[0] == 'blue') {
      blueRatings[newColorAndPos[1]] = newRating;
    }
    else {
      redRatings[newColorAndPos[1]] = newRating;
    }
    updateAverages();
  }

}

/**
* Updates the PlayerCard child of a container
* @param {Element} container The parent of the PlayerCard that must be updated
*/
function updateByContainer(container){
  updatePlayerCardRating(container.firstElementChild);
}

/**
* Recalculates the average skill of both teams
* and updates the elements that display the averages
*/
function updateAverages() {
  var blueVals = Object.values(blueRatings);
  var blueavg = blueVals.reduce(function(a,b) {return a + b;}, 0) / blueVals.length;
  var redavg = Object.values(redRatings).reduce(function(a,b) {return a + b;}, 0) / Object.keys(redRatings).length;
  document.getElementById("blue avg").innerHTML = blueavg;
  document.getElementById("red avg").innerHTML = redavg;
}

const swappable = new Swappable.default(document.querySelectorAll('.blue, .red'), {
  draggable: '.PlayerCard'
});

swappable.on('swappable:start', function(){
  //console.log('swappable:start');
})

var originalContainer;
var swappingContainer;

// Is called any time elements swap places while hovering (similar to drag:over?)
swappable.on('swappable:swapped', function(e){
  //console.log('swappable:swapped');
  // update source element and its mirror
  updatePlayerCardRating(document.getElementsByClassName("draggable-source--is-dragging")[0]);
  updatePlayerCardRating(document.getElementsByClassName("draggable-mirror")[0], true);
  // update element that gets swapped with
  if (swappingContainer) {
    updateByContainer(swappingContainer);
  }
  // handles first swap, when swappingContainer will be none
  // or when more than one element gets passed over during one swap
  updatePlayerCardRating(e.swappedElement);
  // maintain latest swapped elements to use in drag:stopped
  originalContainer = document.getElementsByClassName("draggable-container--is-dragging")[0];
  swappingContainer = document.getElementsByClassName("draggable-container--over")[0];
});

// Gets fired when draggable finished (Added in: v1.0.0-beta.12)
swappable.on('drag:stopped', function(){
  //console.log('drag:stopped');
  // update the two elements being swapped when cursor is released
  updateByContainer(swappingContainer);
  updateByContainer(originalContainer);
  //updateAverages();
});

// Solution(?)
</script>
</body>
</html>
