<!DOCTYPE HTML>
<html>
<head>
<style>
.wrapper {
  display: grid;
  grid-template-columns: 1fr 100px 1fr;
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}
div {
  font-family: verdana;
  font-size: 20px;
  color: white;
}
div.blue {
  grid-column: 1;
  background-color: #67a9cf;
}
div.PlayerCard {
  height: 100px;
}
span.PlayerInfo {
  line-height: 100px;
}
.PositionCol {
  grid-column: 2;
  background-color: gray;
  text-align: center;
  line-height: 100px;
}
.red {
  grid-column: 3;
  background-color: #ef8a62;
  text-align: left;
}
.top {
  grid-row: 1;
}
.jun {
  grid-row: 2;
}
.mid {
  grid-row: 3;
}
.bot {
  grid-row: 4;
}
.sup {
  grid-row: 5;
}
</style>
<script src="https://cdn.jsdelivr.net/npm/@shopify/draggable@1.0.0-beta.12/lib/draggable.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@shopify/draggable@1.0.0-beta.12/lib/swappable.js"></script>
<!--<script src="{{ url_for ('static', filename='require.js') }}"/>-->
<!--<script src="{{ url_for ('static', filename='node_modules/draggable-es/src/Swappable/Swappable.js') }}"></script>-->
</head>

<body>

<div class="wrapper">
  <div class="blue top">
    <div class="PlayerCard">
    </div>
  </div>
  <div class="blue jun">
    <div class="PlayerCard">
    </div>
  </div>
  <div class="blue mid">
    <div class="PlayerCard">
    </div>
  </div>
  <div class="blue bot">
    <div class="PlayerCard">
    </div>
  </div>
  <div class="blue sup">
    <div class="PlayerCard">
    </div>
  </div>
  <div class="PositionCol">TOP</div>
  <div class="PositionCol">JUN</div>
  <div class="PositionCol">MID</div>
  <div class="PositionCol">BOT</div>
  <div class="PositionCol">SUP</div>
  <div class="red top">
    <div class="PlayerCard">
    </div>
  </div>
  <div class="red jun">
    <div class="PlayerCard">
    </div>
  </div>
  <div class="red mid">
    <div class="PlayerCard">
    </div>
  </div>
  <div class="red bot">
    <div class="PlayerCard">
    </div>
  </div>
  <div class="red sup">
    <div class="PlayerCard">
    </div>
  </div>
</div>
<script>
class Player{
  constructor(uniqueId, dict){
    this.uniqueId = uniqueId;
    this.name = dict["name"];
    this.top = dict["rating_top"];
    this.jun = dict["rating_jun"];
    this.mid = dict["rating_mid"];
    this.bot = dict["rating_bot"];
    this.sup = dict["rating_sup"];
  }
}
</script>
<script>
var playerData = {{docs | safe}};
var playerCards = document.getElementsByClassName("PlayerCard");
function addToEmptyPlayerCard(playerObj, playerCardsInd){
  var newPlayerInfo = document.createElement("span");
  newPlayerInfo.classList.add("PlayerInfo");
  newPlayerInfo.innerHTML = playerObj.name + "\t";
  newPlayerInfo.setAttribute("data-uniqueId", playerObj.uniqueId);
  var pos = playerCards[playerCardsInd].parentElement.classList;
  playerCards[playerCardsInd].appendChild(newPlayerInfo);

  switch(pos[1]){
    case 'top':
      newPlayerInfo.innerHTML += playerObj.top;
      break;
    case 'jun':
      newPlayerInfo.innerHTML += playerObj.jun;
      break;
    case 'mid':
      newPlayerInfo.innerHTML += playerObj.mid;
      break;
    case 'bot':
      newPlayerInfo.innerHTML += playerObj.bot;
      break;
    case 'sup':
      newPlayerInfo.innerHTML += playerObj.sup;
      break;
  }
}
var i = 0;
var playerDataArr = Object.entries(playerData);
while (i < playerCards.length) {
  var keyVal= playerDataArr[i];
  addToEmptyPlayerCard(new Player(keyVal[0],keyVal[1]), i);
  i += 1;
}

function updatePositionRating(swappedPlayerCard){
  var newPos = "rating_" + swappedPlayerCard.parentElement.classList[1];
  var playerInfo = swappedPlayerCard.firstElementChild;
  //console.log(playerInfo.dataset.uniqueid); //attributes become lowercase
  var name = playerData[playerInfo.dataset.uniqueid]["name"];
  var newPosRating = playerData[playerInfo.dataset.uniqueid][newPos]
  playerInfo.innerHTML = name + "\t" + newPosRating;
}
const swappable = new Swappable.default(document.querySelectorAll('.blue, .red'), {
  draggable: '.PlayerCard'
});

swappable.on('swappable:start', () => console.log('swappable:start'));
swappable.on('drag:over', function(){
  console.log("drag:over");
  updatePositionRating(document.getElementsByClassName("draggable-source--is-dragging")[0]);
  updatePositionRating(document.getElementsByClassName("draggable-mirror")[0]);
  //the above line doesn't work because the mirror element is still a child of its original parentElement
  //rewrite the update function to take in the new position or rating as a parameter
  //instead of calculating it based on the parent
})
/*
swappable.on('swappable:swapped', function(e){
  console.log('swappable:swapped');
  updatePositionRating(e.swappedElement);
  updatePositionRating(document.getElementsByClassName("draggable--original")[0]);
  updatePositionRating(document.getElementsByClassName("draggable-mirror")[0]);

});
*/
swappable.on('swappable:stop', () => console.log('swapped:stop'));
</script>
</body>
</html>
